@import "./rest";
@import "./variables";

@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text
@each $var in (left, right, center) {
  // 可理解为 js 的数组
  .text-#{$var} {
    text-align: $var;
  }
}

@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// flex
.d-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

$flex-direction: (
  "rowr": column-reverse,
  "columnr": row-reverse,
  "row": row,
  "column": column
);
@each $key, $value in $flex-direction {
  .flex-#{$key} {
    flex-direction: $value;
  }
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

// margin padding

// .m-1 {margin:1rem}
@each $typeKey, $typeVal in $spacing-types {
  @each $sizeKey, $sizeVal in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$typeVal}: $sizeVal * $spacing-base-size;
    }
  }
}

// .m-x {margin-left: 1rem; margin-right:1rem}
@each $typeKey, $typeVal in $spacing-types {
  @each $sizeKey, $sizeVal in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$typeVal}-left: $sizeVal * $spacing-base-size;
      #{$typeVal}-right: $sizeVal * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$typeVal}-top: $sizeVal * $spacing-base-size;
      #{$typeVal}-bottom: $sizeVal * $spacing-base-size;
    }
  }
}

// .mt-1 {margin-top: 1rem}
@each $typeKey, $typeVal in $spacing-types {
  @each $directionKey, $directionVal in $spacing-directions {
    @each $sizeKey, $sizeVal in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$typeVal}-#{$directionVal}: $sizeVal * $spacing-base-size;
      }
    }
  }
}

// btn
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, "sm") * $base-font-size;
  padding: 0.2rem 0.6rem;
}

// height, width
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// nav
.nav {
  display: flex;
  flex-direction: row;
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-top: 4px;
    &.active {
      color: map-get($colors, "primary");
      border-bottom-color: map-get($colors, "primary");
    }
  }
  .nav-link {
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
    cursor: pointer;
    &.router-link-active {
      color: map-get($colors, "primary");
      border-bottom-color: map-get($colors, "primary");
    }
  }
  &.nav-inverse {
    .nav-item {
      &.active {
        color: map-get($colors, "white");
        border-bottom-color: map-get($colors, "white");
      }
    }
    .nav-link {
      &.router-link-active {
        color: map-get($colors, "white");
        border-bottom-color: map-get($colors, "white");
      }
    }
  }
}

// icon 小图标
.icon {
  background: url("../assets/index.png") no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.icon-story {
    background-position: 63.546% 15.517%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.icon-hero {
    background-position: 46.768% 60.452%;
    width: 0.9231rem;
    height: 1rem;
  }
  &.icon-arrow-top {
    background-position: 38.577% 52.076%;
    width: 0.7692rem;
    height: 0.7692rem;
  }
  &.icon-arrow-bottom {
    background-position: 38.577% 52.076%;
    width: 0.7692rem;
    height: 0.7692rem;
    transform: rotate(180deg);
  }
  &.icon-more {
    background-position: 47.619% 56.305%;
    width: 1.3846rem;
    height: 0.2308rem;
  }
  &.icon-news {
    background-position: 0.138% 50.452%;
    width: 1rem;
    height: 1rem;
  }
}
